* {
  font-family: monospace;
}

.DefaultPage {
  max-height: 100vh;
  text-align: center;
  overflow: visible;
  width: 1600px;
  /* background-color: black; */
}


body {
  max-height: 100vh;
  overflow-y: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f4f9;
    color: #333333;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text {
  text-align: center;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* height: 1000px; */
}
.feedback-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.file-input {
  display: none;
}

#browse-upload {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 30px;
}

#upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  transition-duration: 0.4s;
}

#upload-button:hover{
  background-color: #c0c0c0;
}

#browse-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  transition-duration: 0.4s;
  margin-right: 20px;
}
#browse-button:hover {
  background-color: gray;
}

.DefaultPage h1 {
  color: #333;
}

.DefaultPage form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.DefaultPage .error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  font-size: x-large;
}

.custom-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

#feedback-transcript-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(30,30,30);
  margin-top: 0px;
  color:white
}

.feedback-container {
  margin-top: 20px;
}

.feedback-label {
  font-weight: bold;
}

.feedback-text {
  margin-top: 0px;
  color: white;
}

#feedback {
  resize: none;
  width: 50%;
  height: 100px;
  margin-bottom: 50px;
}

#tips {
  text-align: left;
  line-height: 1.5;
  margin-right: 40px;
  color: black;
}

.transcript-box {
  max-height: 300px;
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 450px;
}

.transcript-box p {
  margin: 5px 0;
  line-height: 1.2;
}

.question-label {
  font-size: 30px;
  font-weight: bold;
  color:white;
}

.centered-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  overflow-y: auto;
}

.questions-box {
  color: rgb(0,0,0,0.5);
  background-color: darkgray;
  resize: none;
  width: 450px;
  height: 450px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 40px;
  overflow-y: auto;
}

#browse-button {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#job-desc-container {
   margin-top: '10px';
   display: 'flex'; 
   flex-direction: 'column'; 
   align-items: 'center';
   margin-right: 50px;
}

#job-desc-submit {
  resize: none; 
  width: 450px; 
  height: 450px; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: darkgray;
  color: rgb(0,0,0,0.5);
}

#job-desc-submit::placeholder {
  color: rgb(0,0,0,0.5);
}

#job-desc-submit:focus {
  outline-color: gray;
  outline-offset: 0px;
}

#submit-text-button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 20px;
}

.list-item {
  font-family:monospace;
  margin-bottom: 10px;
  font-size: 18px;
  margin-right: 15px;
  margin-left: 0px;
}

#question-list {
  text-align: justify;
  line-height: 1.5; 
  margin-top: 10px;
  position: relative;
  left: 0%;
}

#questions-and-desc {
  display: flex;
  flex-direction: row;
}

#title-box {
  background-color: rgb(15,15,15);
  text-align: center;
  margin-top: 265px;
  padding: 100px 0px 5px;
}

#flex-helper {
  display: flex;
  justify-content: center;
}

#title {
  color: white;
  font-size: 70px;
  padding: 10px;
}

#instructions {
  margin-top: 40px;
  /* margin-bottom: 40px; */
  font-size: 20px;
  color: white;
}

#subtitle {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

#page {
  background-color: rgb(30,30,30);
}