.DefaultPage {
  text-align: center;
  margin: 20px;
  padding-top: 200px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f4f9;
    color: #333333;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .text {
    text-align: center;
  }
  
  .feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .feedback-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .feedback-box {
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    resize:none;
  }
  
  #submit-button {
    border-radius: 10px;
    padding: 5px;
  }

  #submit-button:hover{
    background-color: #c0c0c0;
  }
  
  .file-input {
    display: none;
  }
  .custom-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
  }
  .custom-button:hover {
    background-color: #0056b3;
  }

.DefaultPage h1 {
  color: #333;
}

.DefaultPage form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.DefaultPage .error {
  color: red;
  margin-top: 10px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 10px; /* Add some margin for spacing */
}

.custom-button:hover {
  background-color: #0056b3;
}

#submit-button {
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px; /* Add some margin for spacing */
}

.file-input {
  display: none;
}

.feedback-container {
  margin-top: 20px;
}

.feedback-label {
  font-weight: bold;
}

.feedback-text {
  margin-top: 10px;
}

#feedback {
  resize: none;
}

.transcript-box {
  max-height: 300px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.transcript-box p {
  margin: 5px 0;
  line-height: 1.5;
}